
<!-- Footer -->
<footer class="page-footer font-small blue">
<!-- Footer Links -->
<div class="container-fluid text-center text-md-left">

<!-- Grid row -->
<div class="row">

  <!-- Grid column -->
  <div class="col-md-4 text-center">
    <!-- Content -->
  </div>

  <!-- Grid column -->
  <div class="col-md-4 text-center">
    <!-- Content -->
    {% include my_rrss-2.html %}
  </div>

  <!-- Grid column -->
  <div class="col-md-4 text-center">
    <!-- Content -->
    <div class="footer-copyright text-center py-3">
    </div>
  </div>

</div>

<!-- Grid row -->
</div>

<!-- Grid row -->
<div class="row" >
  <!-- Grid column -->
  <div class="col-md-4">
    <div class="text-center">
    <!-- Gonkar Referral -->
      <a href="https://gonkar.com/secure/aff.php?aff=4"
         alt="Great Secure Web Hosting"
         title="Great Secure Web Hosting">
        <img 
         class="rounded"
         src="/assets/images/gonkar/gonkar-it-security.png" 
         style="width:200px;"/>
      </a>
    <!-- Gonkar Referral -->
    </div>
  </div>

  <div class="col-md-4 text-center">
  <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      <p>© 2019 CopyItAll: Gomix</p>
    </div>
  <!-- Copyright -->
  </div>

  <div class="col-md-4 text-center">
    <!-- Content -->
    <div class="footer-copyright text-center py-3">
      <p><img src="https://hitcounter.pythonanywhere.com/count/tag.svg" alt="HitCounters"></p>
    </div>
  </div>

<!-- Grid row -->
</div>

</footer>
<!-- Footer -->

