<header class="container pt-0 pb-2 mb-3">
  <div class="row">
    <!-- first column -->
    <div class="col-3 col-sm-3 col-md-3 col-lg-2 p-0">
      <h1 class="ml-1">
        <!-- Gomix picture -->
        <img src="/assets/images/gomix/gomix-icon.png" 
             style="margin-right:-20px;height:90px;display:inline-block;">

        {{ site.title }}

      </h1>

      <h4 class="text-nowrap pt-1 ml-2 mb-0">{{ site.description }}</h4>

    </div>

    <!-- second column -->
    <div class="col-1 col-sm-1 col-md-1 col-lg-1 pl-0 pr-0">
      <iframe class="ml-0 mt-4"
              src="https://freesecure.timeanddate.com/clock/i6vuat44/n58/szw60/szh60/hoc000/hbw1/hfc171717/cf100/hgr0/fav0/fiv0/mqc0f0/mqs3/mql20/mqw4/mqd90/mhc0f0/mhs3/mhl4/mhw4/mhd90/mmv0/hhc00f/hhs3/hhl40/hhw11/hmc00f/hms3/hml90/hmw11/hsv0" frameborder="0" width="60" height="60">
      </iframe>
    </div>

    <!-- third column -->
    <div class="col-8 col-sm-8 col-md-8 col-lg-6 pl-0 pr-0 pt-4">
      {% include navigation-2.html %}
    </div>

    <!-- fourth columnd -->
    <div class="col-12 col-sm-12 col-md-12 col-lg-3 mr-0 pr-0 pl-0 pt-4">
      <script async src="https://cse.google.com/cse.js?cx=016387024853945103292:zsykhrhfoua"></script>
      <div class="gcse-searchbox-only"></div>
    </div>
  </div>
</header>
